.img-res {
  width: 100%;
  height: auto;
}

.img-round {
  width: 100%;
  height: auto;
  border-radius: 50%;
}

.img-res-container {
  width: 30rem;
}

.img-round-container {
  width: 15rem;
}

.img-res-iframe {
  width: 35rem;
  height: 6rem;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}

.img-round-iframe {
  width: 34rem;
  height: 6rem;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
