<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image | LoremUI</title>
    <link rel="stylesheet" href="image.css" />
    <link rel="stylesheet" href="/css/component-page.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/utilities.css" />
  </head>
  <body>
    <header class="header">
      <a class="brandname-link" href="index.html">
        <span class="brandname">
          <img
            class="brandname-logo"
            src="/Assets/Lorem-logo.png"
            alt="LoremUI logo"
          />
          <span class="brandname-title">LoremUI</span>
        </span>
      </a>
      <a class="documentation-link" href="">Documentation</a>
    </header>
    <nav class="site-nav">
      <div class="nav-main-heading nav-getstarted">
        <a href="">Getting Started</a>
      </div>
      <div class="nav-main-heading">Components</div>
      <ul class="nav-comp-section">
        <li class="component-links">
          <a href="/components/Alert/alert.html">Alert</a>
        </li>
        <li class="component-links">
          <a href="/components/Avatar/avatar.html">Avatar</a>
        </li>
        <li class="component-links">
          <a href="/components/Badge/badge.html">Badge</a>
        </li>
        <li class="component-links">
          <a href="/components/Button/button.html">Button</a>
        </li>
        <li class="component-links">
          <a href="">Card</a>
        </li>
        <li class="component-links">
          <a class="component-active" href="/components/Image/image.html"
            >Image</a
          >
        </li>
        <li class="component-links">
          <a href="/components/Input/input.html">Input</a>
        </li>
        <li class="component-links">
          <a href="">List</a>
        </li>
        <li class="component-links">
          <a href="">Loader</a>
        </li>
        <li class="component-links">
          <a href="">Modal</a>
        </li>
        <li class="component-links">
          <a href="">Navigation</a>
        </li>
        <li class="component-links">
          <a href="">Toast</a>
        </li>
      </ul>
    </nav>
    <main class="comp-disp">
      <h1 class="comp-disp-header">Image</h1>
      <h2 class="comp-sub-header">Responsive Image</h2>
      <div class="comp-disp-container my-2 img-res-container">
        <!-- Responsive Image -->
        <img src="/Assets/nature.jpg" alt="nature" class="img-res" />
      </div>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520Responsive%2520Image%2520--%253E%250A%253Cimg%2520src%253D%2522%252FAssets%252Fnature.jpg%2522%2520alt%253D%2522nature%2522%2520class%253D%2522img-res%2522%2520%252F%253E"
        class="img-res-iframe my-1"
        sandbox="allow-scripts allow-same-origin"
      >
      </iframe>
      <hr />
      <h2 class="comp-sub-header">Round Image</h2>
      <div class="comp-disp-container my-2 img-round-container">
        <!-- Round Image -->
        <img src="/Assets/baby.jpg" alt="baby" class="img-round" />
      </div>
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253C%21--%2520Round%2520Image%2520--%253E%250A%253Cimg%2520src%253D%2522%252FAssets%252Fbaby.jpg%2522%2520alt%253D%2522baby%2522%2520class%253D%2522img-round%2522%2520%252F%253E"
        class="img-round-iframe my-1"
        sandbox="allow-scripts allow-same-origin"
      >
      </iframe>
    </main>
  </body>
</html>
