<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Input | LoremUI</title>
    <link rel="stylesheet" href="input.css" />
    <link rel="stylesheet" href="/css/component-page.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/utilities.css" />
  </head>
  <body>
    <header class="header">
      <a class="brandname-link" href="/index.html">
        <span class="brandname">
          <img
            class="brandname-logo"
            src="/Assets/Lorem-logo.png"
            alt="LoremUI logo"
          />
          <span class="brandname-title">LoremUI</span>
        </span>
      </a>
      <a class="documentation-link" href="">Documentation</a>
    </header>
    <nav class="site-nav">
      <div class="nav-main-heading nav-getstarted">
        <a href="">Getting Started</a>
      </div>
      <div class="nav-main-heading">Components</div>
      <ul class="nav-comp-section">
        <li class="component-links">
          <a href="/components/Alert/alert.html">Alert</a>
        </li>
        <li class="component-links">
          <a href="/components/Avatar/avatar.html">Avatar</a>
        </li>
        <li class="component-links">
          <a href="/components/Badge/badge.html">Badge</a>
        </li>
        <li class="component-links">
          <a href="/components/Button/button.html">Button</a>
        </li>
        <li class="component-links">
          <a href="">Card</a>
        </li>
        <li class="component-links">
          <a href="/components/Image/image.html">Image</a>
        </li>
        <li class="component-links">
          <a class="component-active" href="/components/Input/input.html"
            >Input</a
          >
        </li>
        <li class="component-links">
          <a href="">List</a>
        </li>
        <li class="component-links">
          <a href="">Loader</a>
        </li>
        <li class="component-links">
          <a href="">Modal</a>
        </li>
        <li class="component-links">
          <a href="">Navigation</a>
        </li>
        <li class="component-links">
          <a href="">Toast</a>
        </li>
      </ul>
    </nav>
    <main class="comp-disp">
      <h1 class="comp-disp-header">Input</h1>
      <input type="text" class="input-basic my-1" placeholder="Search" />
      <br />
      <input type="email" class="input-basic my-1" placeholder="Email" />
      <br />
      <input type="password" class="input-basic my-1" placeholder="Password" />
      <br />
      <iframe
        src="https://carbon.now.sh/embed?bg=rgba%28171%2C+184%2C+195%2C+1%29&t=seti&wt=none&l=auto&width=680&ds=true&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=0px&ph=0px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520type%253D%2522text%2522%2520class%253D%2522input-basic%2522%2520placeholder%253D%2522Search%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%250A%253Cinput%2520type%253D%2522email%2522%2520class%253D%2522input-basic%2522%2520placeholder%253D%2522Email%2522%2520%252F%253E%250A%2520%2520%2520%2520%2520%2520%2520%2520%250A%253Cinput%2520type%253D%2522password%2522%2520class%253D%2522input-basic%2522%2520placeholder%253D%2522Password%2522%252F%253E"
        class="input-iframe my-1"
        sandbox="allow-scripts allow-same-origin"
      >
      </iframe>
    </main>
  </body>
</html>
