.badge-avatar {
  position: relative;
  width: fit-content;
}
.badge-avatar img {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}
.label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  color: var(--white);
  border-radius: 50%;
}
.label-avatar {
  font-size: 0.9rem;
  height: 0.9rem;
  width: 0.9rem;
  background-color: var(--pink);
  top: 0;
  right: 0;
}
.avatar-badge-iframe {
  width: 434px;
  height: 235px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
.badge-icon {
  position: relative;
  width: fit-content;
}

.badge-icon img {
  width: 3rem;
  height: 3rem;
}
.icon-badge-iframe {
  width: 528px;
  height: 220px;
  border: 0;
  transform: scale(1);
  overflow: hidden;
}
.label-bell {
  height: 1.2rem;
  width: 1.2rem;
  background-color: var(--pink);
  top: 0.1rem;
  right: 0.12rem;
}
.label-cart {
  height: 1.2rem;
  width: 1.2rem;
  background-color: var(--pink);
  bottom: 2.2rem;
  left: 2.1rem;
}
